{% extends "layouts/print.html" %}
{% block content %}
<div style="overflow-x:auto;">
    <table border="1" style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr style="background-color: #f2f2f2;">
        
          <th style="padding: 8px; text-align: left;">Date</th>
          <th style="padding: 8px; text-align: left;">Batch</th>
          <th style="padding: 8px; text-align: left;">Quantity</th>
          <th style="padding: 8px; text-align: left;">Feed_type</th>
          <th style="padding: 8px; text-align: left;">Reason</th>
          
        </tr>
      </thead>
      <tbody>
        {% for log in losses%}
        <tr style="background-color: #ffffff;">
          <!-- Date -->
          <td style="padding: 8px;">{{ log.loss_date}}</td>
            <!-- Nom -->
          <td style="padding: 8px;">{{ log.batch.name }}</td>
         
          <!-- Capacité -->
          <td style="padding: 8px; text-align: center;">{{ log.quantity }}</td>
          <!-- Description -->
          
          <td style="padding: 8px;">{{ log.feed }}</td>
          <td style="padding: 8px;">{{ log.reason}}</td>
        
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  {% endblock content %}